.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;

  background-color: #000;

  .header-wrapper {
    width: 100vw;
    height: 80px;
  }

  .footer-wrapper {
    width: 100vw;
    height: 80px;
  }

  .main-wrapper {
    display: flex;
    width: 1200px;
  }
}
